@charset "UTF-8";

/*
Ordem gerada pelo Adobe Cores

Vermelho - #DB2D2A
Verde - #449C60
Verde claro - #2ADB62
Marrom - #864746
Verde Escuro - #3F5C48
Mais escuro - #332C2C
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'fdroid';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


:root {
    --cor0: #db2d2ab6;
    --cor1: #449C60;
    --cor2: #2ADB62;
    --cor3: #864746;
    --cor4: #3F5C48;
    --cor5: #332C2C;

    --font-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --font-android: 'fdroid', 'Times New Romaan', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor2);
    font-family: var(--font-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}


header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}


header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 4px 5px 2px rgba(0, 0, 0, 0.495);
}


header > p {
    font-family: var(--font-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px; /*Centralizar melhor na direita*/
    padding-left: 10px; /*Centralizar melhor na esquerda*/
    /* Com isso qquando a tela diminuir ele nao ira ficar espremido */
    margin: auto;
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.495);
}

main {
    background-color: white;
    padding: 20px;
    /*border-radius: 10px;*/
    border-bottom-left-radius: 10px; /* Parte inferior da esquerda */
    border-bottom-right-radius: 10px; /* Parte inferior da direita */

    min-width: 280px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.406);
    margin-bottom: 50px;  /* Usado para desgrudar a parte inferior do rodape */ 
}

main p {
    margin: 20px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    font-weight: bolder;
    color: #4f0202;
    padding: 2px 10px;
}


.pequena {
    max-width: 300px;
    display: block;
    margin: auto;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.432);
}


nav > a {
    text-decoration: none;
    color: var(--cor2);
    font-size: 15px;
    padding: 20px;
    text-align: center;
}

nav > a:hover {
    color: violet;
    background-color: #DB2D2A;
    padding: 11px;
    padding-left: 20px;
    border-radius: 7px;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:active {
    color: red;
}

main h1 {
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.4em;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    text-indent: 8px;
}


main a {
    background-color: rgba(0, 255, 255, 0.422);
    font-weight: bolder;
    text-decoration: none;
    padding: 2px 10px;
}

main a:hover {
    color: violet;
    border-radius: 5px;
    text-decoration: underline;
    transition-duration: 0.5s;
}

div.video {
    background-color: #332C2C;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: #2ADB62;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 3px 20px 2px rgba(0, 0, 0, 0.397);
}

aside > h3 {
    background-color: #449C60;
    color: white;
    padding: 5px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.473), transparent);
    border-radius: 5px 5px 0px 0px;
    margin: -10px -10px 0 -10px;
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.516);
}

ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0'
}

/*
aside > ul > li {
    font-weight: normal;
    font-style: none;
}
*/

/*
ul {
    padding-left: 25px;
}
*/

footer {
    background-color: #332C2C;
    padding: 5px;
    font-size: 1em;
    text-align: center;
}

footer > p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

footer > p > a {
    text-decoration: none;
}

footer > p > a:hover {
    color: #DB2D2A;
    font-family: var(--font-android);
    text-decoration: underline;
    transition-duration: 0.5s;
}

footer > p > a:active {
    color: violet;
}

.meu::after {
    content: '\00A0\1F517';
}

/*
article > #bugd {
    align-items: center;
}
*/